#deleteNodeMassage{
    grid-column: span 12;
}
#deleteNodeHeader{
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#deleteNode > button{
    grid-column: span 6;
}
#deleteDescriptionBox{
    grid-column: span 12;
}